* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  background-color: #b8efb8;
  width: 100%;
  clear: both;
  padding: 10px 10px 10px 10px;
  content: ''; }

body {
  margin: 0;
  background: #b8efb8;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

footer {
  background-color: #b8efb8;
  width: 100%;
  padding: 1em 0;
  text-align: center;
  margin-top: auto; }

h1 {
  text-align: center;
  padding: 10px; }

h2 {
  text-align: center; }

.logo {
  width: 200px;
  height: 100px; }

.navBar {
  width: 200px;
  text-decoration: none;
  font-size: 20px;
  display: flex;
  font-weight: bolder;
  list-style: none;
  letter-spacing: 5px;
  gap: 10px;
  padding: 20px 20px; }
  .navBar > ul {
    display: flex;
    justify-content: end; }
  .navBar li {
    display: inline-block;
    justify-content: end;
    list-style: none; }
    .navBar li a {
      text-decoration: none;
      color: black;
      display: block;
      padding: 20px 70px 0px; }

.logoIndex {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center; }

.redesSociales li {
  display: inline-block;
  padding: 10px 100px 10px 300px; }

.serviciosIndex div {
  display: inline-block;
  justify-content: center;
  width: 200px;
  height: 200px;
  margin-inline: 0 240px;
  align-content: center; }

.serviciosIndex img {
  max-width: 400px; }

.serviciosIndex p {
  display: inline-block;
  text-align: center; }

.h3 {
  text-align: center; }

.cards img {
  width: 300px;
  height: 300px; }

/*Galeria*/
.galeria {
  list-style: none;
  padding-bottom: 3em;
  padding-top: 1em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 160px;
  grid-template-areas: "img1 img2 img3 img4" "img3 img4 img5 img6";
  gap: 8em; }
  .galeria li {
    margin: 5px; }
  .galeria img {
    width: 200px;
    height: 200px; }

.imagen {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .imagen img {
    width: 500px;
    height: 100%;
    max-width: 100%;
    border: 7px solid #fff;
    box-sizing: border-box; }

.content {
  width: 65%;
  margin: .3rem auto; }
  .content h1 {
    font-size: 26px;
    text-align: center; }
  .content p {
    font-size: 16px;
    line-height: 26px;
    text-align: center; }

.container {
  display: flex;
  height: 600px;
  background-color: #b8efb8;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  column-gap: 40px; }
  .container ul {
    list-style: none; }
  .container p {
    display: flex;
    flex-flow: row wrap;
    justify-content: right;
    align-items: right;
    text-align: center; }

/** Servicios **/
.cards {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 20px);
  grid-template-rows: auto;
  grid-gap: 20px;
  text-align: center;
  justify-items: auto;
  align-items: auto; }
  .cards .cardSecond .alinear {
    text-align: center;
    justify-items: auto;
    align-items: auto; }
