*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

header{
    background-color: #b8efb8;
    width: 100%;
    clear: both;
    padding: 10px 10px 10px 10px;
    content: '';
}

footer{
    background-color: #b8efb8;
    width: 100%;
}


body {
    background: #b8efb8;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

h1{
    text-align: center;
    padding: 10px; 
    }
h2{
    text-align: center;
}    

.logo {
    width: 200px;
    height: 100px;
    
}

.navBar > ul {
    display: flex;
    justify-content: end;
}

.navBar{
    
    width: 200px;
    text-decoration: none;
    font-size: 20px;
    display: flex;
    font-weight: bolder;
    list-style: none;
    letter-spacing: 5px;
    gap: 10px;
    padding: 20px 20px;
}
.navBar li{
    display: inline-block;
    justify-content: end;
    list-style: none;
}
.navBar li a{
    text-decoration: none;
    color: black;
    display: block;
    padding: 20px 70px 0px;

}

.redesSociales li {
    display: inline-block;
    padding: 10px 100px 10px 300px;
}


.serviciosIndex div{
    display:inline-block;
    justify-content: center;
    width: 200px;
    height: 200px; 
    margin-inline:0 240px;
    
}
.serviciosIndex img{
    max-width: 400px;
    
}
.serviciosIndex p{
    display:inline-block;
    text-align: center;
    
}
.h3{
    text-align: center;
}

.cards img{
    width: 300px;
    height: 300px;
}

.galeria {
	width: 90%;
	margin: auto;
	list-style: none;
	padding: 20px;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.galeria li {
	margin: 5px;
}

.galeria img {
	width: 150px;
	height: 100px;
}

.imagen {
	width: 100%;
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}


.imagen img {
	width: 500px;
	height: 100%;
	max-width: 100%;
	border: 7px solid #fff;
	box-sizing: border-box;
}

.content  {
    width: 65%;
    margin: .3rem auto;
}

.content h1 {
    font-size: 26px;
    text-align: center;
}
.content p {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
}

.container{
        display: flex;
        height: 600px;
        background-color:  #b8efb8;
        flex-flow: row wrap ;
        justify-content: center;
        align-items: center;
        column-gap: 40px;
        
        
    }
.logosNosotros ul{
        order: 1;
        }
.listaNosotros ul {
        order:2 ;
    }
.mapa{
    order:3;
}    
.imagenNosotros{
    order: 4;
    
}




